<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MXH Music</title>
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../../css/nouislider.min.css">
    <link type="text/css" rel="stylesheet" href="../../css/slick.css">
    <link type="text/css" rel="stylesheet" href="../../css/slick-theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/music.css">

</head>
<script>
    function likeFunction(x) {
        x.style.fontWeight = "bold";
        x.innerHTML = "✓ Liked";

    }

    function DislikeFunction(x) {
        x.style.fontWeight = "bold";
        x.innerHTML = "✓ DisLiked";
    }

</script>

<style>
    p, h1 {
        font-family: "Amatic SC", sans-serif
    }
</style>
<body>
<header>


    <!DOCTYPE html>
    <!-- top Header -->
    <div id="top-header">
        <div class="container">
            <div class="pull-left">
                <span sec:authorize="isAuthenticated()">Welcome, <strong
                        sec:authentication="principal.username"></strong></span>
            </div>
        </div>
    </div>
    <div id="header">
        <div class="container">
            <div class="pull-left">
                <form action="searchsanpham.htm" method="get">
                    Tìm kiếm: <input class="input search-input" type="text" name="tensp" placeholder="Nhập từ khóa">
                </form>
            </div>
            <div class="pull-right">
                <ul class="header-btns">
                    <!-- Account -->
                    <li class="header-account dropdown default-dropdown">
                        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                            <div class="header-btns-icon">
                                <i class="fa fa-user-o"></i>
                            </div>

                            <strong class="text-uppercase"  sec:authentication="principal.username" >Tài khoản</strong>


                        </div>


                        <a th:href="@{/logout}" class="text-uppercase"><h6>Thoát</h6></a>


                        <strong class="text-uppercase"></strong>


                    </li>
                    <!-- /Account -->

                    <!-- Cart -->


                    <li class="header-cart dropdown default-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <div class="header-btns-icon">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="qty">2</span>
                            </div>
                            <strong class="text-uppercase">Giỏ Hàng:</strong>
                            <br>
                            <span></span>
                        </a>

                        <div class="custom-menu">
                            <div id="shopping-cart">
                                <div class="shopping-cart-list">

                                    <div class="product product-widget">
                                        <div class="product-thumb">
                                            <img src="http://media3.scdn.vn/img2/2018/1_17/SGuIt9_simg_d0daf0_800x1200_max.jpg"
                                                 alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-price">$1000000.0</h3>
                                            <h5>Số lượng: <span>1</span></h5>
                                            <h2 class="product-name"><a href="#">Hodie Curen</a></h2>
                                        </div>
                                        <button class="cancel-btn" onclick="location.href = 'removehome.htm?maSp=2'"><i
                                                class="fa fa-trash"></i></button>
                                    </div>

                                    <div class="product product-widget">
                                        <div class="product-thumb">
                                            <img src="https://sakurafashion.vn/upload/sanpham/large/5078-ao-hoodie-ghep-hai-manh-1.jpg"
                                                 alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-price">$1000000.0</h3>
                                            <h5>Số lượng: <span>1</span></h5>
                                            <h2 class="product-name"><a href="#">Hodie Anti</a></h2>
                                        </div>
                                        <button class="cancel-btn" onclick="location.href = 'removehome.htm?maSp=3'"><i
                                                class="fa fa-trash"></i></button>
                                    </div>

                                </div>
                                <div class="shopping-cart-btns">
                                    <a onclick="location.href='checkout.htm'" class="primary-btn">Checkout <i
                                            class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- /Cart -->

                    <!-- Mobile nav toggle-->
                    <li class="nav-toggle">
                        <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li>
                    <!-- / Mobile nav toggle -->
                </ul>
            </div>
        </div>
        <!-- header -->
    </div>
    <!-- container -->
</header>


<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            <!-- category nav -->
            <div class="category-nav show-on-click">
                <span class="category-header">Danh Mục List <i class="fa fa-list"></i></span>
                <ul class="category-list">

                    <li class="dropdown side-dropdown">
                        <a onclick="location.href = 'searchbynhomsp.htm?maNhomSp=1'" class="dropdown-toggle"
                           data-toggle="dropdown" aria-expanded="true">Remix<i class="fa fa-angle-right"></i></a>
                    </li>

                    <li class="dropdown side-dropdown">
                        <a onclick="location.href = 'searchbynhomsp.htm?maNhomSp=2'" class="dropdown-toggle"
                           data-toggle="dropdown" aria-expanded="true">Pop<i class="fa fa-angle-right"></i></a>
                    </li>

                    <li class="dropdown side-dropdown">
                        <a onclick="location.href = 'searchbynhomsp.htm?maNhomSp=3'" class="dropdown-toggle"
                           data-toggle="dropdown" aria-expanded="true">Us<i class="fa fa-angle-right"></i></a>
                    </li>

                </ul>
            </div>
            <!-- /category nav -->

            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a href="/blogMusic/">Trang chủ</a></li>
                    <li><a href="checkout.htm">Giỏ hàng</a></li>
                    <li><a href="">Thông tin Blog</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/blogMusic/favourite-add">Bài hát ưa thích</a></li>
                </ul>
            </div>
            <!-- menu nav -->
        </div>
    </div>
    <!-- /container -->
</div>


<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                <br>
                <div class="col-md-8 col-sm-6">
                    <div class="banner banner-1">
                        <div class="container-audio" height="600px">
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                            <div class="colum1">
                                <div class="row"></div>
                            </div>
                        </div>
                        <form th:object="${list}" method="post" novalidate="novalidate" enctype="multipart/form-data">
                            <table class="table" id="list">
                                <div class="container-audio">
                                    <audio controls loop autoplay>
                                        <source th:src="*{fileMusic}" type="audio/ogg">
                                    </audio>
                                </div>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
                    <a class="banner banner-1" href="getQuan.htm">
                        <img src="/image/us.png" height="275px" alt="">
                        <div class="banner-caption text-center">
                            <h2 class="white-color">Us</h2>
                        </div>
                    </a>
                </div>
            </div>
            <!-- /banner -->
        </div>
        <!-- /home slick -->
    </div>
    <!-- /home wrap -->
</div>
</div>
<!-- /HOME -->


<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- banner -->
            <hr>
            <div class="col-md-8 col-sm-6">
                <h1><b>People Comment</b></h1>
                <table th:object="${list}">
                    <tr>
                        <th>
                            <img th:src="*{fileImage}" width="125px" height="140px" class="w3-padding-16">
                        </th>
                        <th>
                        <td style="font-size: 20px;font-family: 'Amatic SC', sans-serif">
                            <p> Tên bài hát: </p>
                            <p> Tên ca sỹ: </p>
                            <p> Tên nhạc sỹ: </p>
                            <p>
                                <span class="glyphicon glyphicon-eye-open" th:text="*{views}"></span>
                            </p>
                        </td>
                        </th>
                        <th>
                        <td style="font-size: 20px">
                            <p th:text="*{tenBaiHat}"></p>
                            <p th:text="*{caSy.nameCaSy}"></p>
                            <p th:text="*{nhacSy.nameNhacSy}"></p>
                            <p>
                                <span class="glyphicon glyphicon-thumbs-up" th:text="*{likes}"></span>
                                <span class="glyphicon glyphicon-thumbs-down" th:text="*{dislike}"></span>
                            </p>
                        </td>
                        </th>
                    </tr>
                </table>
                <br>
                <div class="w3-justify" th:object="${list}">
                    <table>
                        <tr>
                            <th>
                                <p class="w3-left">
                                    <button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b>
                                        <i class="fa fa-thumbs-up"></i>Like</b></button>
                                </p>
                            </th>
                            <th>
                                <p class="w3-left">
                                    <button class="w3-button w3-white w3-border" onclick="DislikeFunction(this)"><b>
                                        <i class="fa fa-thumbs-down"></i>DisLike</b></button>
                                </p>
                            </th>
                        </tr>
                    </table>


                    <!--            binh luan nguoi dung-->
                    <form action="/blogMusic/comments" method="post">
                        <div class="form-group">
                            <td><input name="comments" class="form-control" rows="3"></td>
                            <!--                        <textarea class="form-control" rows="3" required>-->
                            <!--                        </textarea>-->
                        </div>
                        <button type="submit" class="btn btn-success">Comment</button>
                    </form>

                    <!--                    show bình luận-->
                    <div class="w3-row w3-margin-bottom" th:each="comment,loop:${listComment}">
                        <hr>
                        <div class="w3-col l2 m3">
                            <img th:src="${comment.person.avatar}" style="width:90px;">
                        </div>
                        <div class="w3-col l10 m9">
                            <h4 th:text="${comment.person.userName}"><span class="w3-opacity w3-medium">May 3, 2015, 6:32 PM</span>
                            </h4>
                            <p th:text="${comment.comments}"></p>
                            <p th:text="${loop.count}"></p>
                        </div>
                    </div>


                </div>
            </div>


            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
                <h1 style="font-size: 35px;font-family: 'Amatic SC', sans-serif">Liên Quan</h1>
                <table th:each="remix : ${listAll}">
                    <tr>
                        <th>
                            <a th:href="@{/blogMusic/playBlog/{idBlog}(idBlog = ${remix.idBlog})}">
                                <img th:src="${remix.fileImage}" width="75px" height="75px" class="w3-padding-16">
                            </a>
                        </th>
                        <th>
                        <td style="font-size: 20px">
                            <p th:text="${remix.tenBaiHat}"></p>
                            <p th:text="${remix.caSy.nameCaSy}"></p>
                        </td>
                        </th>
                    </tr>
                    <br>
                </table>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>


<footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a class="logo" href="#">
                            <img src="/DoAn/views/img/logo.png" alt="">
                        </a>
                    </div>
                    <!-- /footer logo -->

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna</p>

                    <!-- footer social -->
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <!-- /footer social -->
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">My Account</h3>
                    <ul class="list-links">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Compare</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Customer Service</h3>
                    <ul class="list-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Shiping & Return</a></li>
                        <li><a href="#">Shiping Guide</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer subscribe -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Stay Connected</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    <form>
                        <div class="form-group">
                            <input class="input" placeholder="Enter Email Address">
                        </div>
                        <button class="primary-btn">Join Newslatter</button>
                    </form>
                </div>
            </div>
            <!-- /footer subscribe -->
        </div>
        <!-- /row -->
        <hr>
        <!-- row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <!-- footer copyright -->
                <div class="footer-copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->

<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/nouislider.min.js"></script>
<script src="/js/slick.min.js"></script>

</body>

</html>