<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Table Create Musician</h2>
    <form action="/blogMusic/create-nhacsy" method="post" th:object="${listMusician}" enctype="multipart/form-data">
        <table class="table">
            <tr>
                <th >Name Musician</th>
                <td><input th:field="*{nameNhacSy}"></td>
            </tr>
            <tr>
                <td>Musician Photo:</td>
                <td>
                    <input type="file" name="uppPhotoMusician">
                </td>
            </tr>
        </table>
        <button type="submit" class="btn btn-success">create</button>
    </form>
</div>

</body>
</html>