<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Music Detail</h2>
    <form method="post">
        <table class="table">
            <tr>
                <td>Name Music:</td>
                <td><input th:field="${list.tenBaiHat}"></td>
            </tr>
            <tr>
                <td>Name Singer:</td>
                <td><input th:field="${list.tenCaSy}"></td>
            </tr>
            <tr>
                <td>Name Musician:</td>
                <td><input th:field="${list.tenNhacSy}"></td>
            </tr>
            <tr>
                <td>File Music:</td>
                <td><input th:field="${list.fileMusic}"></td>
            </tr>
            <tr>
                <td>File Image:</td>
                <td><input th:field="${list.fileImage}"></td>
            </tr>
            <tr>
                <td>Genre:</td>
                <td><input th:field="${list.theLoai}"></td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td><input th:field="${list.binhLuan}"></td>
            </tr>
        </table>
    </form>
    <a href="/show">quit</a>
</div>

</body>
</html>