<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Table Edit Music</h2>
    <form method="post" enctype="multipart/form-data" novalidate="novalidate" >
        <table class="table">
            <tr>
                <td><input th:field="${list.idBlog}" hidden></td>
            </tr>
            <tr>
                <td>Name Music:</td>
                <td><input th:field="${list.tenBaiHat}"></td>
            </tr>
            <tr>
                <td>Name Singer:</td>
                <td><select th:field="${list.caSy}">
                    <option th:each="cs: ${caSyList}" th:value="${cs.idCaSy}" th:text="${cs.nameCaSy}"></option>
                </select>
                </td>
            </tr>
            <tr>
                <td>Name Musician:</td>
                <td><select th:field="${list.nhacSy}">
                    <option th:each="ns: ${nhacSyList}" th:value="${ns.idNhacSy}" th:text="${ns.nameNhacSy}"></option>
                </select>
                </td>
            </tr>
            <tr>
                <td>File Music:</td>
                <td>
                    <input type="file" name="uppMusic">
               <input th:field="${list.fileMusic}" hidden>
                </td>
            </tr>
            <tr>
                <td>File Image:</td>
                <td>
                    <input type="file" name="uppImg">
                <input th:field="${list.fileImage}" hidden>
                </td>
            </tr>
            <tr>
                <td>Genre:</td>
                <td><select th:field="${list.theLoai}">
                    <option th:each="tl: ${listTheLoai}" th:value="${tl.idTheLoai}" th:text="${tl.nameTheLoai}"></option>
                </select>
                </td>
            </tr>
            <tr>
                <td><input th:field="${list.views}" hidden></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-success">Edit Music</button>
    </form>
    <a href="/blogMusic/showAdmin" class="btn btn-success">Quay Lại</a>
</div>

</body>
</html>