<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EDIT Musician</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Table Edit Musician</h2>
    <form method="post" enctype="multipart/form-data" novalidate="novalidate" >
        <table class="table">
            <tr>
                <td><input th:field="${listMusician.idNhacSy}" hidden></td>
            </tr>
            <tr>
                <td>Name Musician:</td>
                <td><input th:field="${listMusician.nameNhacSy}"></td>
            </tr>
            <tr>
                <td>Musician Photo:</td>
                <td>
                    <input type="file" name="uppPhotoMusician">
                    <input th:field="${listMusician.musicianPhoto}" hidden>
                </td>
            </tr>

        </table>
        <button type="submit" class="btn btn-success">Edit Musician</button>
    </form>
    <a href="/blogMusic/showAdmin" class="btn btn-success">Quay Lại</a>
</div>

</body>
</html>