<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register Page</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/logincss.css">


</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 th:text="#{Register}"></h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>

            <div class="card-body">
                <form action="/blogMusic/register" method="post" th:object="${listPerson}"
                      enctype="multipart/form-data">
                    <div>
                        <p style="color: red" th:if="${#fields.hasErrors('userName')}"
                           th:errors="*{userName}"></p>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input class="form-control" th:field="*{userName}">

                    </div>
                    <div>
                        <p style="color: red" th:if="${#fields.hasErrors('passWord')}"
                           th:errors="*{passWord}"></p>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input class="form-control" th:field="*{passWord}">
                    </div>
                    <div class="input-group form-group">
                        <input class="form-control" type="date" name="date">
                    </div>
                    <div class="input-group form-group">
                        <input type="file" class="form-control" name="uppAvatar">
                    </div>
                    <div class="input-group form-group" hidden>
                        <input class="form-control" name="email" value="1">
                    </div>
                    <div class="input-group form-group" hidden>
                        <input class="form-control" name="phone" value="1">
                    </div>
                    <div class="input-group form-group" hidden>
                        <input class="form-control" name="sex" value="1">
                    </div>
                    <div class="input-group form-group" hidden>
                        <input class="form-control" name="role" value="2">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <span><a href="/blogMusic/login" class="btn float-right login_btn">Back</a></span>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>