<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MXH Music</title>
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../../css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../../css/nouislider.min.css">
    <link type="text/css" rel="stylesheet" href="../../css/slick.css">
    <link type="text/css" rel="stylesheet" href="../../css/slick-theme.css">
    <link type="text/css" rel="stylesheet" href="../../css/style.css">

</head>
<script>
    if (document.getElementById("login") == true) {
        document.getElementById("login").style.display = "block"
    }

</script>
<body>
<header>


    <!DOCTYPE html>

</header>


<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            <!-- category nav -->
            <div class="category-nav show-on-click">
                <span class="category-header">Danh Mục List <i class="fa fa-list"></i></span>
                <ul class="category-list">

                    <li class="dropdown side-dropdown">
                        <a onclick="location.href = 'searchbynhomsp.htm?maNhomSp=1'" class="dropdown-toggle"
                           data-toggle="dropdown" aria-expanded="true">Remix<i class="fa fa-angle-right"></i></a>
                    </li>

                    <li class="dropdown side-dropdown">
                        <a onclick="location.href = 'searchbynhomsp.htm?maNhomSp=2'" class="dropdown-toggle"
                           data-toggle="dropdown" aria-expanded="true">Pop<i class="fa fa-angle-right"></i></a>
                    </li>

                    <li class="dropdown side-dropdown">
                        <a onclick="location.href = 'searchbynhomsp.htm?maNhomSp=3'" class="dropdown-toggle"
                           data-toggle="dropdown" aria-expanded="true">Us<i class="fa fa-angle-right"></i></a>
                    </li>

                </ul>
            </div>
            <!-- /category nav -->

            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a href="/blogMusic/">Trang chủ</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/blogMusic/shopping-cart">Giỏ hàng</a></li>
                    <li><a href="">Thông tin Blog</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/blogMusic/favourite-add">Bài hát ưa thích</a></li>
                </ul>
            </div>
            <!-- menu nav -->
        </div>
    </div>
    <!-- /container -->
</div>

<div id="home" >
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">

                <div class="banner banner-1">
                    <img src="/image/dj.jpg" height="600px">
                </div>
                <!-- /banner -->
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
</div>
<!-- /HOME -->

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- /section -->
            <div class="section">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <!-- section title -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h2 class="title">REMIX</h2>
                            </div>
                        </div>
                        <!-- section title -->

                        <!-- Product Single -->
                        <div class="col-md-3 col-sm-6 col-xs-6" th:each="remix,loop:${listRemix}">
                            <div class="product product-single">
                                <div class="product-thumb">
                                    <button value="Chi tiết" class="main-btn quick-view"
                                            onclick="location.href = 'detailsanpham.htm?maSp=1'"
                                            sec:authorize="isAuthenticated()">
                                        <i class="fa fa-search-plus"></i>
                                        Chi tiết
                                    </button>
                                    <img th:src="${remix.fileImage}" width="200px" height="310px" alt="">
                                </div>
                                <div class="product-body">
                                    <h3 class="product-price colortext">
                                        <a th:href="@{/blogMusic/playBlog/{idBlog}(idBlog = ${remix.idBlog})}"
                                           th:text="${remix.tenBaiHat}"></a>
                                    </h3>
                                    <h3 class="product-price">
                                        <del class="product-old-price" th:text="${remix.theLoai.nameTheLoai}"></del>
                                    </h3>
                                    <div class="product-rating">
                                        <a class="fa fa-star" href="yeuthich.htm?maSp=1&soSao=1"></a>
                                        <a class="fa fa-star" href="yeuthich.htm?maSp=1&soSao=2"></a>
                                        <a class="fa fa-star" href="yeuthich.htm?maSp=1&soSao=3"></a>
                                        <a class="fa fa-star" href="yeuthich.htm?maSp=1&soSao=4"></a>
                                        <a class="fa fa-star" href="yeuthich.htm?maSp=1&soSao=5"></a>
                                    </div>
                                    <h2 class="product-name colorname" th:text="${remix.caSy.nameCaSy}"></h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Product Slick -->
        <div class="col-md-9 col-sm-6 col-xs-6">
            <div class="row">
                <div id="product-slick-1" class="product-slick">
                    <!-- Product Single -->

                    <!-- /Product Single -->
                </div>
            </div>
        </div>
        <!-- /Product Slick -->
    </div>
</div>
<!-- /container -->
</div>
<!-- /section -->


<footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a class="logo" href="#">
                            <img src="/DoAn/views/img/logo.png" alt="">
                        </a>
                    </div>
                    <!-- /footer logo -->

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna</p>

                    <!-- footer social -->
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <!-- /footer social -->
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">My Account</h3>
                    <ul class="list-links">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Compare</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Customer Service</h3>
                    <ul class="list-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Shiping & Return</a></li>
                        <li><a href="#">Shiping Guide</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer subscribe -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Stay Connected</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    <form>
                        <div class="form-group">
                            <input class="input" placeholder="Enter Email Address">
                        </div>
                        <a class="primary-btn" th:href="@{/logout}">Logout</a>
                    </form>
                </div>
            </div>
            <!-- /footer subscribe -->
        </div>
        <!-- /row -->
        <hr>
        <!-- row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <!-- footer copyright -->
                <div class="footer-copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->

<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/nouislider.min.js"></script>
<script src="/js/slick.min.js"></script>

</body>

</html>